body {
    
}
#plantbox {
    margin: auto;
    width: 80%;
    height:40em;
}
.carousel {
    float: right;
    max-height: 100%;
    max-width: 300px;
}
.carousel .slide {
    background-color: transparent;
}
.plants { 
    width: 50%;
    float: left;
    padding: 20px;
}  
.description {
    font-size:12px;
}
.plant-list {
    height: 55%;
    scroll-behavior: smooth;
    overflow-y: scroll;
}
#selected-plants {
    text-align: left;
    color: black;
    background-color:#ffffff;
    height:inherit;
}
#search-plants {
    text-align: left;
    height: inherit;
    background-color: #a1ca28;
}
#search {
    margin: 1em 0;
}
#search-input {
    width: 100%;
}
.image-display {
    width: fit-content;
    height: 200px;
    overflow-x: scroll;
}
.plant-image {
    height: 200px;
}
ul {
    list-style-type: none;
    padding:0;
}
li:hover {
    font-weight:bold;
    cursor: pointer;
}
.plant-hover {
    background-color: mintcream;
    padding: .5rem 2rem;
    width:700px;
    white-space: pre-wrap;
}
.window {
    background-image: url('./img/sunny.png');
    background-size: 575px 600px;

}
.plant-badge {
    padding: .7rem;
    font-size: 10px;
    border-radius: 8px;
    box-shadow: inset;
    display: inline-block;
    margin: 0 .5em .3em 0;
}
.white {
    background-color: whitesmoke;
}
.purple {
    background-color: orchid;
}
.blue {
    background-color: cornflowerblue;
}
.pink {
    background-color: papayawhip;
}
.yellow {
    background-color: goldenrod;
}
.brown  {
    background-color: peru;
}
.lightgreen {
    background-color: palegreen;
}
.lightpink {
    background-color: peachpuff;
}
.lightorange {
    background-color: burlywood
}
.lightblue {
    background-color: lightskyblue
}
.bloom-yes {
    width: 40px;
    height: 10px;
    background-color: olivedrab;
}
.bloom-no {
    width: 40px;
    height: 10px;
    background-color: tomato;
    background-color: black;
}

#garden-box {
    text-align: left;
    color: black;
    background-color:#ffffff;
    float:right;
    overflow: hidden;
}
#garden-select {
    text-align: left;
    overflow:scroll;
    height: 600px;
    background-color: #a1ca28;
    float: left;
    padding: 20px;
    width:300px;
}
.react-draggable {
    position: absolute;
    top: 0;
    left: 0;
}
#gardenpage {
    height: 600px;
    width: 800px;
    position: relative;
    overflow: auto;
    padding: 0;
    margin: 0 auto;
}
.garden-obj {
    width: fit-content;
}
.garden-obj > img {
    max-width: 100px;
}
.Collapsible__contentInner {
    overflow-x: scroll;
}
#layout {
    background-color: white;
    height: 600px;
    width: 575px;
    float: left;
    position: relative;
}
#info {
    text-align: left;
    height: 600px;
    background-color: #a1ca28;
    float: right;
    padding: 20px;
    width:300px;
    overflow: scroll;
}
#design {
    width:875px;
    margin: 2em auto;
}
.print-info {
    background-color: white;
    white-space: pre-wrap;
    padding: 1em;
}